<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%-5level %logger{1.} - %msg%n}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <logger name="kc87" level="DEBUG"/>
        <logger name="org.springframework.boot.autoconfigure.security" level="INFO" />
        <logger name="org.springframework.transaction" level="DEBUG" />
        <logger name="org.springframework.data" level="DEBUG" />
        <logger name="org.springframework" level="INFO" />
    </Loggers>
</Configuration>
