
.AccountTable {
    position: relative;
    top:10%;
    height: 50%;
    color: #fff;
    font-family: sans-serif;
}

.AccountTable h1 {
    text-align: center;
}

.AccountTable > div {
    position: relative;
    margin: 0 auto;
    top: 30px;
    height: 182px;
    width:  1024px;
    background-color: #959;
    border: 1px solid #aaa;
}

.AccountTable > div + div {
    height: auto;
    padding: 4px 0;
    background-color: #004;
}

.AccountTable > div + div span {
    margin-left: 4px;
}

.AccountTable table {
    width: 100%;
    font-size: 18px;
    background-color: #959;
}

.AccountTable th {
    color: #000;
    padding: 6px;
    background-color: #acf;
}

.AccountTable td {
    font-size: 16px;
    padding: 1px;
    border: 1px solid #ccc;
    background-color: #006;
    overflow:  hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    max-width: 170px;
}

td.FixedColumn {
    max-width: 50px;
}

.AccountTable td input {
    display: table-cell;
    margin: 0;
    padding: 2px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    min-width: 100%;
    overflow:  hidden;
    text-overflow: ellipsis;
}


.AccountTable td input:focus {
    border: 1px solid #f00;
    font-weight: bold;
}


.AccountTable input {
    border: 1px solid #ccc;
    width: 150px;
    margin: 0 0 0 2px;
    padding: 0;
}

.AccountTable label {
    display: inline-block;
    width: 150px;
    margin: 0 0 0 4px;
    font-size: 14px;
    font-weight: bold;
}

.FooterMsg {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.SuccessMsg {
    color: #0f0;
}

.ErrorMsg {
    color: #f22;
}