<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to WebChat</title>
    <meta charset="UTF-8" />
    <link href="/css/chat.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div id="statsOutput">&#x2022; Offline!</div>
        <div id="loginBox">
        <span id="loginInput">
           <label for="usernameInput">User: </label><input id="usernameInput" type="text" th:value="*{username}" />
           <label for="passwordInput">Password: </label><input id="passwordInput" type="password"/>
        </span>
            <span id="loginGreeting" style="display:none;"></span>
            <input id="accountBtn" value="Login" type="button"/>
        </div>
    </header>
    <div id="loginInfoOutput"></div>

    <div id="chatBox">
        <div id="infoOutput"></div>
        <div id="chatOutput">
            <div id="userListBox"></div>
            <div id="chatMsgBox">
                <div id="doLoginStranger">Log in, Stranger!</div>
            </div>
        </div>
        <input id="chatInput" type="text" />
        <input id="sendBtn" value="Send" type="button"/>
    </div>

    <script src="/js/chat.js" ></script>

</body>
</html>
