<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome to WebChat</title>
    <link rel="stylesheet" th:href="@{/css/global.css}" href="/css/global.css"/>
    <link rel="stylesheet" th:href="@{/css/header.css}" href="/css/header.css"/>
    <link rel="stylesheet" th:href="@{/css/index.css}" href="/css/index.css"/>
</head>
<body>
    <div th:replace="fragments/header :: #top-state"></div>
    <h1>Welcome to WebChat (Spring Boot Version)</h1>
</body>
</html>
